In [21]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## NBA Data

1. Find number of unique values in College, and Position Columns.
2. Count and display the number of teams under each college.
3. For each distinct value of Age, compute the following statistics :
   1. For Height column – minimum, and maximum value
   2. For Weight column – minimum, and maximum value
   3. For Salary column – sum (total), mean, and count.
      (Hint – use ‘agg’ function )
4. For Texas College, find minimum Salary for every Position.
5. Count number of players under every age ctegory, who play for ‘Boston Celtics’ Team.

In [22]:
# load data
nba = pd.read_csv("nba.csv")

In [37]:
# find number of unique values in College, and Position Columns


def get_unique_column(ds, name):
    idx_nan = ds[name].isnull()
    return ds[name][~idx_nan].unique()


unique_colleges = get_unique_column(nba, name="College")
unique_position = get_unique_column(nba, name="Position")

print("Unique values in College: ", len(unique_colleges))
print("Unique values in Position: ", len(unique_position))

Unique values in College:  118
Unique values in Position:  5

In [58]:
# Counnt and display the number of teams under each college
count_teams_by_college = {
    college: len(nba[nba["College"] == college]["Team"])
    for college in unique_colleges
}
count_teams_by_college["Alabama"]

3

In [59]:
# number of teams under each college
count_teams_by_college = nba[["College", "Team"]].groupby("College").count()
print(count_teams_by_college)

                  Team
College
Alabama              3
Arizona             13
Arizona State        2
Arkansas             3
Baylor               1
...                ...
Western Michigan     1
Wichita State        1
Wisconsin            5
Wyoming              1
Xavier               1

[118 rows x 1 columns]

In [68]:
# for distinct value of Age, for Height column, minimum and maximum value
age_min_height = nba[["Age", "Height"]].groupby("Age").min()
print(age_min_height)

age_max_height = nba[["Age", "Height"]].groupby("Age").max()
print(age_max_height)

res= nba[["Age", "Height"]].groupby("Age").agg({"Height": ["min", "max"]})
print(res)

     Height
Age
19.0    6-6
20.0   6-10
21.0   6-10
22.0    6-1
23.0   5-11
24.0    6-1
25.0   5-11
26.0    6-1
27.0    5-9
28.0   5-11
29.0    6-1
30.0    6-0
31.0    6-0
32.0   6-10
33.0    6-1
34.0    6-0
35.0   6-10
36.0   6-10
37.0   6-10
38.0   6-10
39.0    6-3
40.0   6-11
     Height
Age
19.0    6-6
20.0    7-3
21.0    7-0
22.0    7-1
23.0    7-1
24.0    7-3
25.0    7-0
26.0    7-3
27.0    7-3
28.0    7-2
29.0    7-2
30.0    7-0
31.0    7-1
32.0    6-9
33.0    7-1
34.0    7-0
35.0    7-0
36.0    6-9
37.0    7-0
38.0    6-7
39.0    6-6
40.0    6-3
     Height
        min  max
Age
19.0    6-6  6-6
20.0   6-10  7-3
21.0   6-10  7-0
22.0    6-1  7-1
23.0   5-11  7-1
24.0    6-1  7-3
25.0   5-11  7-0
26.0    6-1  7-3
27.0    5-9  7-3
28.0   5-11  7-2
29.0    6-1  7-2
30.0    6-0  7-0
31.0    6-0  7-1
32.0   6-10  6-9
33.0    6-1  7-1
34.0    6-0  7-0
35.0   6-10  7-0
36.0   6-10  6-9
37.0   6-10  7-0
38.0   6-10  6-7
39.0    6-3  6-6
40.0   6-11  6-3

In [67]:
# for distinct value of Age, for Weight column, minimum and maximum column
age_min_weight = nba[["Age", "Weight"]].groupby("Age").min()
age_max_weight = nba[["Age", "Weight"]].groupby("Age").max()

print(age_min_weight)
res= nba[["Age", "Weight"]].groupby("Age").agg({"Weight": ["min", "max"]})
print(res)

      Weight
Age
19.0   202.0
20.0   190.0
21.0   185.0
22.0   172.0
23.0   165.0
24.0   175.0
25.0   170.0
26.0   169.0
27.0   175.0
28.0   175.0
29.0   175.0
30.0   173.0
31.0   161.0
32.0   175.0
33.0   185.0
34.0   185.0
35.0   190.0
36.0   172.0
37.0   212.0
38.0   185.0
39.0   185.0
40.0   200.0

     Weight
        min    max
Age
19.0  202.0  206.0
20.0  190.0  275.0
21.0  185.0  280.0
22.0  172.0  279.0
23.0  165.0  275.0
24.0  175.0  265.0
25.0  170.0  270.0
26.0  169.0  278.0
27.0  175.0  290.0
28.0  175.0  275.0
29.0  175.0  275.0
30.0  173.0  307.0
31.0  161.0  289.0
32.0  175.0  275.0
33.0  185.0  273.0
34.0  185.0  265.0
35.0  190.0  255.0
36.0  172.0  260.0
37.0  212.0  254.0
38.0  185.0  250.0
39.0  185.0  220.0
40.0  200.0  250.0

In [41]:
# for each distinct Age, for Salary column, sum(total), mean and count
res = nba[["Age", "Salary"]].groupby("Age").agg({"Salary": ["sum", "mean", "count"]})
print(res)

           Salary
              sum          mean count
Age
19.0    3860880.0  1.930440e+06     2
20.0   51790026.0  2.725791e+06    19
21.0   39280213.0  2.067380e+06    19
22.0   61307050.0  2.357963e+06    26
23.0   79355103.0  2.034746e+06    39
24.0  170338514.0  3.785300e+06    45
25.0  172958166.0  3.930867e+06    44
26.0  247196385.0  6.866566e+06    36
27.0  267069647.0  6.676741e+06    40
28.0  153305658.0  5.110189e+06    30
29.0  168052779.0  6.224177e+06    27
30.0  211855757.0  7.061859e+06    30
31.0  187250724.0  8.511397e+06    22
32.0  100320456.0  7.716958e+06    13
33.0   55030346.0  3.930739e+06    14
34.0   76060300.0  7.606030e+06    10
35.0   27693918.0  3.461740e+06     8
36.0   22381196.0  2.238120e+06    10
37.0   38333334.0  1.277778e+07     3
38.0    7360164.0  1.840041e+06     4
39.0    5035745.0  2.517872e+06     2
40.0   14000750.0  4.666917e+06     3

In [27]:
# For Texas College, find min Salary for every Position
nba_texas_college = nba[nba["College"] == "Texas"]
res = nba_texas_college[["Position", "Salary"]].groupby("Position").min()
print(res)

              Salary
Position
C         14260870.0
PF         2357760.0
PG         3000000.0
SF         5500000.0
SG         1015421.0

In [23]:
# Count number of players under every age ctegory, who play for ‘Boston Celtics’
# Team.

boston_celtics = nba[nba["Team"] == "Boston Celtics"]

players_by_age = boston_celtics[["Age", "Name"]].groupby("Age").count()
players_by_age.columns = ["Players"]

players_by_age

      Players
Age
20.0        1
21.0        1
22.0        3
24.0        1
25.0        3
26.0        1
27.0        3
29.0        2

## Tips Data

In [18]:
# load data
tips = pd.read_csv("tips.csv")

In [30]:
# Find how many female, and male customers smoke
smokers = tips[tips.smoker == "Yes"]

smokers_gender = smokers[["gender", "smoker"]].groupby("gender").count()
print(smokers_gender)

        smoker
gender
Female      33
Male        60

In [34]:
# Disply the records of male customers who had dinner on Saturday

res = tips[(tips.gender == "Male") & (tips.time == "Dinner") & (tips.day == "Sat")]
print(res)

     total_bill    tip gender smoker  day    time  size
19        20.65   3.35   Male     No  Sat  Dinner     3
20        17.92   4.08   Male     No  Sat  Dinner     2
23        39.42   7.58   Male     No  Sat  Dinner     4
24        19.82   3.18   Male     No  Sat  Dinner     2
25        17.81   2.34   Male     No  Sat  Dinner     4
26        13.37   2.00   Male     No  Sat  Dinner     2
27        12.69   2.00   Male     No  Sat  Dinner     2
28        21.70   4.30   Male     No  Sat  Dinner     2
30         9.55   1.45   Male     No  Sat  Dinner     2
31        18.35   2.50   Male     No  Sat  Dinner     4
34        17.78   3.27   Male     No  Sat  Dinner     2
35        24.06   3.60   Male     No  Sat  Dinner     3
36        16.31   2.00   Male     No  Sat  Dinner     3
38        18.69   2.31   Male     No  Sat  Dinner     3
39        31.27   5.00   Male     No  Sat  Dinner     3
40        16.04   2.24   Male     No  Sat  Dinner     3
56        38.01   3.00   Male    Yes  Sat  Dinner     4
58        11.24   1.76   Male    Yes  Sat  Dinner     2
59        48.27   6.73   Male     No  Sat  Dinner     4
60        20.29   3.21   Male    Yes  Sat  Dinner     2
61        13.81   2.00   Male    Yes  Sat  Dinner     2
62        11.02   1.98   Male    Yes  Sat  Dinner     2
63        18.29   3.76   Male    Yes  Sat  Dinner     4
64        17.59   2.64   Male     No  Sat  Dinner     3
65        20.08   3.15   Male     No  Sat  Dinner     3
68        20.23   2.01   Male     No  Sat  Dinner     2
69        15.01   2.09   Male    Yes  Sat  Dinner     2
70        12.02   1.97   Male     No  Sat  Dinner     2
75        10.51   1.25   Male     No  Sat  Dinner     2
76        17.92   3.08   Male    Yes  Sat  Dinner     2
105       15.36   1.64   Male    Yes  Sat  Dinner     2
106       20.49   4.06   Male    Yes  Sat  Dinner     2
107       25.21   4.29   Male    Yes  Sat  Dinner     2
108       18.24   3.76   Male     No  Sat  Dinner     2
110       14.00   3.00   Male     No  Sat  Dinner     2
170       50.81  10.00   Male    Yes  Sat  Dinner     3
171       15.81   3.16   Male    Yes  Sat  Dinner     2
206       26.59   3.41   Male    Yes  Sat  Dinner     3
207       38.73   3.00   Male    Yes  Sat  Dinner     4
208       24.27   2.03   Male    Yes  Sat  Dinner     2
210       30.06   2.00   Male    Yes  Sat  Dinner     3
211       25.89   5.16   Male    Yes  Sat  Dinner     4
212       48.33   9.00   Male     No  Sat  Dinner     4
216       28.15   3.00   Male    Yes  Sat  Dinner     5
217       11.59   1.50   Male    Yes  Sat  Dinner     2
218        7.74   1.44   Male    Yes  Sat  Dinner     2
227       20.45   3.00   Male     No  Sat  Dinner     4
228       13.28   2.72   Male     No  Sat  Dinner     2
230       24.01   2.00   Male    Yes  Sat  Dinner     4
231       15.69   3.00   Male    Yes  Sat  Dinner     3
232       11.61   3.39   Male     No  Sat  Dinner     2
233       10.77   1.47   Male     No  Sat  Dinner     2
234       15.53   3.00   Male    Yes  Sat  Dinner     2
235       10.07   1.25   Male     No  Sat  Dinner     2
236       12.60   1.00   Male    Yes  Sat  Dinner     2
237       32.83   1.17   Male    Yes  Sat  Dinner     2
239       29.03   5.92   Male     No  Sat  Dinner     3
241       22.67   2.00   Male    Yes  Sat  Dinner     2
242       17.82   1.75   Male     No  Sat  Dinner     2

In [36]:
# Display the records of female customers who had meal either on
# Saturdays, or Sundays.

res =tips[(tips.gender == "Female") & (tips.day == "Sat") | (tips.day == "Sun")]
print(res)

     total_bill   tip  gender smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
215       12.90  1.10  Female    Yes  Sat  Dinner     2
219       30.14  3.09  Female    Yes  Sat  Dinner     4
229       22.12  2.88  Female    Yes  Sat  Dinner     2
238       35.83  4.67  Female     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2

[104 rows x 7 columns]

In [149]:
# For each day, print only the total_bill, and tip information
# (use for loop if necessary, to iterate through different keys/groups).

for day, data in tips.groupby("day"):
    print("Day: ", day)
    print(data.total_bill, data.tip)

Day:  Fri
90     28.97
91     22.49
92      5.75
93     16.32
94     22.75
95     40.17
96     27.28
97     12.03
98     21.01
99     12.46
100    11.35
101    15.38
220    12.16
221    13.42
222     8.58
223    15.98
224    13.42
225    16.27
226    10.09
Name: total_bill, dtype: float64 90     3.00
91     3.50
92     1.00
93     4.30
94     3.25
95     4.73
96     4.00
97     1.50
98     3.00
99     1.50
100    2.50
101    3.00
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
Name: tip, dtype: float64
Day:  Sat
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
       ...
238    35.83
239    29.03
240    27.18
241    22.67
242    17.82
Name: total_bill, Length: 87, dtype: float64 19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
       ...
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
Name: tip, Length: 87, dtype: float64
Day:  Sun
0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
186    20.90
187    30.46
188    18.15
189    23.10
190    15.69
Name: total_bill, Length: 76, dtype: float64 0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
186    3.50
187    2.00
188    3.50
189    4.00
190    1.50
Name: tip, Length: 76, dtype: float64
Day:  Thur
77     27.20
78     22.76
79     17.29
80     19.44
81     16.66
       ...
202    13.00
203    16.40
204    20.53
205    16.47
243    18.78
Name: total_bill, Length: 62, dtype: float64 77     4.00
78     3.00
79     2.71
80     3.00
81     3.40
       ...
202    2.00
203    2.50
204    4.00
205    3.23
243    3.00
Name: tip, Length: 62, dtype: float64

In [130]:
tips[["day", "total_bill", "tip"]].groupby("day").sum()

      total_bill     tip
day
Fri       325.88   51.96
Sat      1778.40  260.40
Sun      1627.16  247.39
Thur     1096.33  171.83

In [164]:
# For evey day, display number of males and females under smoking, nonsmoking
# categories.

for day, data in tips.groupby("day"):
    smokers = data[data.smoker == "Yes"]
    non_smokers = data[data.smoker == "No"]
    res = smokers[["gender", "smoker"]].groupby("gender").count()
    res["non smokers"] = (
        non_smokers[["gender", "smoker"]].groupby("gender").count()
    )
    print("Day: ", day)
    print(res)
    print("")

Day:  Fri
        smoker  non smokers
gender
Female       7            2
Male         8            2

Day:  Sat
        smoker  non smokers
gender
Female      15           13
Male        27           32

Day:  Sun
        smoker  non smokers
gender
Female       4           14
Male        15           43

Day:  Thur
        smoker  non smokers
gender
Female       7           25
Male        10           20

In [20]:
# for each day and time, For total_bill column – minimum, maximum, mean, and sum. find total

for (day, time), data in tips.groupby(["day", "time"]):
    res = data.agg(
        {
            "total_bill": ["min", "max", "mean", "sum"],
            "tip": ["min", "max", "mean", "sum"],
        },
    )
    print(day, time)
    print(res)

Fri Dinner
      total_bill    tip
min     5.750000   1.00
max    40.170000   4.73
mean   19.663333   2.94
sum   235.960000  35.28
Fri Lunch
      total_bill        tip
min     8.580000   1.580000
max    16.270000   3.480000
mean   12.845714   2.382857
sum    89.920000  16.680000
Sat Dinner
       total_bill         tip
min      3.070000    1.000000
max     50.810000   10.000000
mean    20.441379    2.993103
sum   1778.400000  260.400000
Sun Dinner
      total_bill         tip
min         7.25    1.010000
max        48.17    6.500000
mean       21.41    3.255132
sum      1627.16  247.390000
Thur Dinner
      total_bill  tip
min        18.78  3.0
max        18.78  3.0
mean       18.78  3.0
sum        18.78  3.0
Thur Lunch
       total_bill         tip
min      7.510000    1.250000
max     43.110000    6.700000
mean    17.664754    2.767705
sum   1077.550000  168.830000

In [37]:
# Find total number of non-smoker males and females.

non_smokers = tips[tips.smoker == "No"]

count_non_smokers = non_smokers[["gender", "smoker"]].groupby("gender").count()
count_non_smokers.columns = ["non-smoker"]
print(count_non_smokers)

        non-smoker
gender
Female          54
Male            97

In [39]:
# Find how many male and female customers who smoke had dinner on Friday.

smokers = tips[(tips.smoker == "Yes") & (tips.day == "Fri") & (tips.time == "Dinner")]

res = smokers[["gender", "smoker"]].groupby("gender").count()
print(res)

        smoker
gender
Female       4
Male         5

In [40]:
tips[["gender", "tip"]].groupby("gender").mean()

             tip
gender
Female  2.833448
Male    3.089618

In [38]:
# Find the count/number of tips above amount $5. 

count_tips_above_5 = len(tips[tips.tip > 5.0])
print(count_tips_above_5)

18

## States Data

In [42]:
# load data
populations = pd.read_csv("state-population.csv")
print(populations.head())
print(len(populations))

abbreviations = pd.read_csv("state-abbreviations.csv")
print(abbreviations.head())
print(len(abbreviations))

area = pd.read_csv("state-areas.csv")
print(area.head())
print(len(area))

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0
2544
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA
51
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707
52

In [56]:
# Perform left join between population and abbreviation data.
left = pd.merge(populations, abbreviations, how="left", left_on="state/region", right_on="abbreviation")
print(len(left))
#  What type of cardinality is involved between these datasets ?
# Many to one
print(left)

2544
     state/region     ages  year   population    state abbreviation
0              AL  under18  2012    1117489.0  Alabama           AL
1              AL    total  2012    4817528.0  Alabama           AL
2              AL  under18  2010    1130966.0  Alabama           AL
3              AL    total  2010    4785570.0  Alabama           AL
4              AL  under18  2011    1125763.0  Alabama           AL
...           ...      ...   ...          ...      ...          ...
2539          USA    total  2010  309326295.0      NaN          NaN
2540          USA  under18  2011   73902222.0      NaN          NaN
2541          USA    total  2011  311582564.0      NaN          NaN
2542          USA  under18  2012   73708179.0      NaN          NaN
2543          USA    total  2012  313873685.0      NaN          NaN

[2544 rows x 6 columns]

In [60]:
# Perform right join between population and abbreviation data.
right = pd.merge(populations, abbreviations, how="right", left_on="state/region", right_on="abbreviation")
print(len(right))

2448
     state/region     ages  year  population    state abbreviation
0              AL  under18  2012   1117489.0  Alabama           AL
1              AL    total  2012   4817528.0  Alabama           AL
2              AL  under18  2010   1130966.0  Alabama           AL
3              AL    total  2010   4785570.0  Alabama           AL
4              AL  under18  2011   1125763.0  Alabama           AL
...           ...      ...   ...         ...      ...          ...
2443           WY  under18  1993    137458.0  Wyoming           WY
2444           WY    total  1991    459260.0  Wyoming           WY
2445           WY  under18  1991    136720.0  Wyoming           WY
2446           WY  under18  1990    136078.0  Wyoming           WY
2447           WY    total  1990    453690.0  Wyoming           WY

[2448 rows x 6 columns]

In [ ]:
ht = pd.merge(populations, abbreviations, how="right", left_on="state/region", right_on="abbreviation")
print(len(right))
print(right)

#### What type of cardinality is involved between the above two datasets ? Also, explain why the number of rows returned in the above two queries (1,2) are different.

Ans

In [62]:
# Perform inner join between area and abbreviation data. 
area_abbreviation_inner = pd.merge(area, abbreviations, how="inner")

print(area_abbreviation_inner.head())
print(len(area_abbreviation_inner))

        state  area (sq. mi) abbreviation
0     Alabama          52423           AL
1      Alaska         656425           AK
2     Arizona         114006           AZ
3    Arkansas          53182           AR
4  California         163707           CA
51

In [63]:
# Perform outer join between area and abbreviation data.
area_abbreviation_outer = pd.merge(area, abbreviations, how="outer")

print(area_abbreviation_outer.head())
print(len(area_abbreviation_outer))

        state  area (sq. mi) abbreviation
0     Alabama          52423           AL
1      Alaska         656425           AK
2     Arizona         114006           AZ
3    Arkansas          53182           AR
4  California         163707           CA
52

#### What type of cardinality is involved between the above two datasets ? Also, explain why the number of rows returned in the above two queries (4, 5) are different

Ans

#### What type of cardinality is involved between the above two datasets ? Also, explain why the number of rows returned in the above two queries (4, 5) are different

Ans

In [47]:
# Find the state, and it’s abbrevation having minimum area (in square miles).

area_abbreviation = pd.merge(area, abbreviations, how="left", on="state")
min_area = area_abbreviation["area (sq. mi)"].min()
state_min_area = area_abbreviation[area_abbreviation["area (sq. mi)"] == min_area]
print(state_min_area)

                   state  area (sq. mi) abbreviation
50  District of Columbia             68           DC

In [52]:
# Count total number of population in 2010 across all states.
populations_2010 = populations[populations.year == 2010]
poplulation_state = populations_2010[["state/region", "population"]].groupby("state/region").sum()
print(poplulation_state)
print(poplulation_state["population"].sum())

               population
state/region
AK               901770.0
AL              5916536.0
AR              3634227.0
AZ              8037353.0
CA             46617695.0
CO              6274815.0
CT              4393397.0
DC               706434.0
DE              1105189.0
FL             22845586.0
GA             12204132.0
HI              1667543.0
IA              3778031.0
ID              1999679.0
IL             15961787.0
IN              8095848.0
KS              3586639.0
KY              5371377.0
LA              5663968.0
MA              7979225.0
MD              7139176.0
ME              1600427.0
MI             12209270.0
MN              6593030.0
MO              7420105.0
MS              3724158.0
MT              1213819.0
NC             11841821.0
ND               824523.0
NE              2289459.0
NH              1602316.0
NJ             10864720.0
NM              2583745.0
NV              3366410.0
NY             23716261.0
OH             14268024.0
OK              4690746.0
OR              4702337.0
PA             15495788.0
PR              4618153.0
RI              1275757.0
SC              5716339.0
SD              1019356.0
TN              7851773.0
TX             32124192.0
USA           383445851.0
UT              3647443.0
VA              9879442.0
VT               754394.0
WA              8323692.0
WI              7025154.0
WV              2241370.0
WY               699573.0
771509855.0