In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'department': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

In [ ]:
print(df1)

  employee   department
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [ ]:
print(df2)

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

#(1) One-to-One join/mapping

In [ ]:
df_output1 = pd.merge(df1, df2)

In [ ]:
print(df_output1)

  employee   department  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

#(2) Many-to-One join/mapping (One-to-Many)

In [ ]:
df3 = pd.DataFrame({'department': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})

In [ ]:
print(df3)

    department supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

In [ ]:
df_output2 = pd.merge(df1, df3)

In [ ]:
print(df_output2)

  employee   department supervisor
0      Bob   Accounting      Carly
1     Jake  Engineering      Guido
2     Lisa  Engineering      Guido
3      Sue           HR      Steve

#(3) Many-to-Many join/mapping

In [ ]:
df4= pd.DataFrame({'department': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})

In [ ]:
print(df4)

    department        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization

In [ ]:
df_output3 = pd.merge(df1, df4)

In [ ]:
print(df_output3)

  employee   department        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

#(4) specify the merge-key (common column name)

In [ ]:
print(df1)

  employee   department
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [3]:
df2_new = pd.DataFrame({'emp_name': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

In [ ]:
print(df2_new)

  emp_name  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [4]:
df_output4 = pd.merge(df1, df2_new, how="left", left_on='employee', right_on='emp_name')

In [5]:
print(df_output4)

  employee   department emp_name  hire_date
0      Bob   Accounting      Bob       2008
1     Jake  Engineering     Jake       2012
2     Lisa  Engineering     Lisa       2004
3      Sue           HR      Sue       2014

In [ ]:
df_output4 = pd.merge(df1, df2_new, left_on='employee', right_on='emp_name')
df_output4 = df_output4.drop('emp_name', axis=1)

In [ ]:
print(df_output4)

  employee   department  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

#(5) Merge using Index

In [ ]:
print(df1)

  employee   department
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [ ]:
print(df2)

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [ ]:
df_output5 = pd.merge(df1, df2, left_index=True, right_index=True, suffixes=["_L", "_R"])
print(df_output5)

  employee_L   department employee_R  hire_date
0        Bob   Accounting       Lisa       2004
1       Jake  Engineering        Bob       2008
2       Lisa  Engineering       Jake       2012
3        Sue           HR        Sue       2014

In [ ]:
#join performs the merging on indices only

df_output6 = df1.join(df2, lsuffix='_L', rsuffix='_R')

print(df_output6)

  employee_L   department employee_R  hire_date
0        Bob   Accounting       Lisa       2004
1       Jake  Engineering        Bob       2008
2       Lisa  Engineering       Jake       2012
3        Sue           HR        Sue       2014

#(6) How parameter : inner, outer, left, right

In [ ]:
df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']},
                   columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']},
                   columns=['name', 'drink'])

In [ ]:
print(df6)

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

In [ ]:
print(df7)

     name drink
0    Mary  wine
1  Joseph  beer

In [ ]:
df_output7 = pd.merge(df6, df7)
print(df_output7)

   name   food drink
0  Mary  bread  wine

In [ ]:
df_output7 = pd.merge(df6, df7, how='inner')
print(df_output7)

   name   food drink
0  Mary  bread  wine

In [ ]:
df_output8 = pd.merge(df6, df7, how='left')
print(df_output8)

    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  wine

In [ ]:
df_output9 = pd.merge(df6, df7, how='right')
print(df_output9)

     name   food drink
0    Mary  bread  wine
1  Joseph    NaN  beer

In [ ]:
df_output9 = pd.merge(df6, df7, how='outer')
print(df_output9)

     name   food drink
0   Peter   fish   NaN
1    Paul  beans   NaN
2    Mary  bread  wine
3  Joseph    NaN  beer