In [3]:
import pandas as pd

In [4]:
url = ("https://raw.githubusercontent.com/pandas-dev/pandas/main/pandas/tests/io/data/csv/tips.csv")

tips = pd.read_csv(url)

print(type(tips))

print(tips.head())

<class 'pandas.core.frame.DataFrame'>
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips[['total_bill', 'tip', 'smoker']]

     total_bill   tip smoker
0         16.99  1.01     No
1         10.34  1.66     No
2         21.01  3.50     No
3         23.68  3.31     No
4         24.59  3.61     No
..          ...   ...    ...
239       29.03  5.92     No
240       27.18  2.00    Yes
241       22.67  2.00    Yes
242       17.82  1.75     No
243       18.78  3.00     No

[244 rows x 3 columns]

In [9]:
tips['tip_rate'] = (tips['tip'] *100 / tips['total_bill'])
print(tips.head())

   total_bill   tip     sex smoker  day    time  size   tip_rate
0       16.99  1.01  Female     No  Sun  Dinner     2   5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3  16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3  16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2  13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4  14.680765

In [11]:
a = tips[tips['time']=='Dinner']
print(a)

     total_bill   tip     sex smoker   day    time  size   tip_rate
0         16.99  1.01  Female     No   Sun  Dinner     2   5.944673
1         10.34  1.66    Male     No   Sun  Dinner     3  16.054159
2         21.01  3.50    Male     No   Sun  Dinner     3  16.658734
3         23.68  3.31    Male     No   Sun  Dinner     2  13.978041
4         24.59  3.61  Female     No   Sun  Dinner     4  14.680765
..          ...   ...     ...    ...   ...     ...   ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3  20.392697
240       27.18  2.00  Female    Yes   Sat  Dinner     2   7.358352
241       22.67  2.00    Male    Yes   Sat  Dinner     2   8.822232
242       17.82  1.75    Male     No   Sat  Dinner     2   9.820426
243       18.78  3.00  Female     No  Thur  Dinner     2  15.974441

[176 rows x 8 columns]

In [12]:
a.shape

(176, 8)

In [13]:
a = tips[   ( tips['time']=='Dinner') & (tips['tip'] > 5.0)    ]
print(a.head())
print(a.shape)

    total_bill   tip     sex smoker  day    time  size   tip_rate
23       39.42  7.58    Male     No  Sat  Dinner     4  19.228818
44       30.40  5.60    Male     No  Sun  Dinner     4  18.421053
47       32.40  6.00    Male     No  Sun  Dinner     4  18.518519
52       34.81  5.20  Female     No  Sun  Dinner     4  14.938236
59       48.27  6.73    Male     No  Sat  Dinner     4  13.942407
(15, 8)

In [14]:
a = tips[   ( tips['time']=='Dinner') | (tips['total_bill'] > 25.0)    ]
print(a.head())
print(a.shape)

   total_bill   tip     sex smoker  day    time  size   tip_rate
0       16.99  1.01  Female     No  Sun  Dinner     2   5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3  16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3  16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2  13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4  14.680765
(185, 8)